@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

body {
    background-color: black;
    color: white;
    box-sizing: border-box;
}

.icon {
    filter: brightness(0) invert(1);
    stroke: transparent;
}

.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container .left {
    width: 23vw;
    min-height: 100vh;
    transition: width 1s ease, left 1s ease;
}

.container .right {
    width: 77vw;

}

.home ul li {
    /* display: inline-block; */
    width: 23px;
    list-style: none;
    gap: 21px;
    padding-top: 20px;
    text-align: center;

}

li img {
    vertical-align: middle;
    cursor: pointer;
}

li span {
    vertical-align: middle;
    cursor: pointer;
    font-weight: lighter;
    color: white;

}

.heading img {
    width: 23px;
}

.plus {
    width: 23px;
}

.library {
    min-height: 76vh;
    position: relative;


}

.library .playlist {
    justify-content: space-between;
    align-items: center;
}

.library .playlist .heading {
    column-gap: 13px;
    align-items: center;

}

.library .playlist .heading h3 {
    font-size: 15px;

}

.plus {
    cursor: pointer;
}

.library .crtPlay {
    display: flex;
    flex-direction: column;
    background-color: #242424;
    row-gap: 15px;
    margin-top: 20px;
}

.crtPlay p {
    font-size: 12px;
}

.btn {
    width: 124px;
    border-radius: 38px;
    padding: 11px;
    border: none;
}

.btn:hover {
    transform: scale(1.04);
}

/* .footer{
    display: flex;
    gap: 10px;
    width: 15vw;
    flex-wrap: wrap;
    position: absolute;
    bottom: 20px;
}
.footer a{
    
    text-decoration: none;
    color: white;
    font-size: 10px;
} */

.footer {
    width: 20vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 10px;
    position: absolute;
    bottom: 10px;

}

.footer a {
    font-weight: normal;
    font-size: 10px;
    text-decoration: none;
    color: grey;


}

.footer div:nth-child(2) {
    grid-column: 2/4;

}

.footer div:nth-child(7) {
    grid-column: 1/6;
}

.footer button {
    /* z-index: 10; */
    display: flex;
    grid-column: 1/3;
    /* grid-row: 5/6; */
    background-color: transparent;
    align-items: center;
    column-gap: 5px;
    border: 1px solid white;
    color: white;
    justify-content: center;
    width: 90px;
    padding: 5px;
    cursor: pointer;
}

.footer button img {
    width: 15px;
}

.right {
    /* margin: 7px 0px; */
    background-color: #1b1b1b;


}

.right .header {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    padding: 7px 20px;

}

.right .nav svg {
    padding-left: 15px;
    cursor: pointer;
}

.right .hamburger {
    display: none;
    cursor: pointer;
}

.buttons {
    display: flex;
    gap: 10px;

}

.buttons :nth-child(1) {
    padding: 10px;
    background-color: transparent;
    border: none;
    color: white;
    color: #9c9c9c;
    font-size: 17px;
    padding: 15px;
    cursor: pointer;


}

.buttons :nth-child(2) {
    padding: 10px;
    border: none;
    font-size: 17px;
    cursor: pointer;

}

.buttons :nth-child(1):hover {
    color: rgba(255, 255, 255, 0.733);
}

.main {
    /* position: relative; */
    max-height: 79vh;
    overflow-y: scroll;
}

.main::-webkit-scrollbar {
    display: none;
}

.spotifyPlaylist h1 {
    font-size: 25px;
    margin: 10px 33px;
}

.spotifyPlaylist .cardContainer {
    display: flex;
    gap: 10px;
    margin: 0 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.spotifyPlaylist .cardContainer .card {
    padding: 10px;
    width: 205px;
    height: auto;
}

.spotifyPlaylist .cardContainer .card img {
    width: 205px;
    height: auto;
}

.card {
    position: relative;
}

.card>* {
    margin-bottom: 10px;
}

.card p {
    font-weight: lighter;
    font-size: 15px;
    color: rgb(189, 185, 185);
    margin-bottom: 20px;

}

.spotifyPlaylist .cardContainer .card:hover {
    background-color: #242424b6;
}

.playBtn {
    background-color: #00ff00;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    position: absolute;
    right: 20px;
    bottom: 90px;
    opacity: 0;
    transition: transform 0.1s linear, opacity 0.1s linear;
}

.card:hover .playBtn {
    transform: translateY(-10px);
    opacity: 1;

}

.playbar {
    /* position: absolute; */
    bottom: 10px;
    position: fixed;
    width: 75.35vw;
    min-height: 99px;
    background-color: rgb(54 54 54);
    padding: 0 10px;
    /* padding-bottom: 32px; */
}

.playbar-in {
    width: 30vw;
    margin: 8px 0;
    display: flex;
    /* padding-bottom:32px ; */
    justify-content: space-evenly;
    /* border: 2px solid red; */
}

.playbar-in img {
    cursor: pointer;
}

.playbar .playbar-in img {
    width: 50px;
    height: auto;

}

.songList {
    margin-top: 30px;
    height: 50vh;
    overflow-y: scroll;
    padding: 0 10px;

}

.songList::-webkit-scrollbar {
    display: none;
}

.songList ul li {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 34px;
    padding: 12px 12px;
    border: 2px solid rgba(255, 255, 255, 0.621);
    border-radius: 8px;
    margin-bottom: 10px;
    justify-content: center;
    cursor: pointer;

}

.playnow {
    display: flex;
    align-items: center;
    gap: 34px;
}

.songList ul li svg {
    width: 32px;
    height: 32px;
}

.seekbar {
    width: 75vw;
    height: 2px;
    border: 1px solid white;
    border-radius: 8px;
    position: absolute;
    background-color: white;
    bottom: 20px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    bottom: 6px;
    left: 0%;
}

.abovebar {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.close {
    display: none;
    cursor: pointer;
}

.right {
    flex-shrink: 1;
}

.volume {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;

}

.timevol {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.range input{
    accent-color: white;
    cursor: pointer;
}

.songname {
    width: 250px;
    text-align: center;
    font-weight: lighter;
}

.duration {
    font-weight: lighter;
}

.info>div {
    font-weight: lighter;
}

.playnow {
    font-weight: 100;
}

@media screen and (max-width:1750px) {
    .songList ul li {
        padding: 12px 0px;
        gap: 24px;
    }

    .songList {
        padding: 0px 0px;
    }

    .footer {
        width: 100%;
    }
}

@media screen and (max-width:1400px) {
    .left {
        /* background-color: red; */
        width: 370px;
        position: absolute;
        left: -110%;
        transition: left 1s linear;
        z-index: 1;
        background-color: black;

    }

    .container .right {
        width: 100vw;
    }

    .playbar {
        width: calc(100vw - 40px);
        padding-bottom:32px ;
    }

    .seekbar {
        width: calc(100vw - 50px);
    }

    .right .hamburger {
        display: inline;
    }

    .close {
        display: inline;
        position: absolute;
        right: 27px;
        top: 25px;
    }

    .abovebar {
        align-items: center;
        /* justify-content: space-around; */
        flex-direction: column;
        justify-content: center;
        height: 162px;
        padding-bottom: 13px;
    }

    .playbar-in {
        width: 65vw;
    }

    .timevol {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
    .spotifyPlaylist{
        margin-bottom: 30vh;
    }
    .buttons :nth-child(1) {
       
        padding: 5px 0px;
       
    }
    .buttons :nth-child(2) {
       
        padding: 5px 0px;
       
    }
    .btn{
        width: 75px;
    }
    

}

@media screen and (max-width:500px) {
    .btn {
        width: 88px;
    }

    .songList {
        height: 44vh;
    }

    .playbar {
        width: 91vw;
    }

    .seekbar {
        width: 89vw;
    }

    .right .header {
        padding: 7px 0px;
    }

    .card {
        width: 80vw;
    }

    .spotifyPlaylist .cardContainer .card {

        width: 68vw;
        height: auto;
    }

    .spotifyPlaylist .cardContainer .card img {
        width: 68vw;
        height: auto;
    }   
    
   
}